@font-face {
  font-family: 'Noir';
  src: url(./assets/fonts/NoirPro/NoirPro-Medium.woff) format('woff'),
  url(./assets/fonts/NoirPro/NoirPro-Bold.woff) format('woff'),
  url(./assets/fonts/NoirPro/NoirPro-Light.woff) format('woff');
}

* {
  font-family: 'Noir', 'Open Sans';
}

::-webkit-scrollbar {
  width: 0.6em;
  
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
  outline: 1px solid slategrey;
}

